/* Taken and improved from https://codepen.io/choogoor/pen/YWBxAg @example-2 */
#wrapper-1{
    background: url(../img/portfolio/change-notifier.jpg) center/cover no-repeat;
}

.wrapper::after, .wrapper .header::after, .wrapper .data::after{
    content: " ";
    z-index: 1;
    display: block;
    height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.wrapper .header::after, .wrapper .data::after{
    background-color: rgba(0, 0, 0, 0.6);
}

.wrapper::after{
    background-color: rgba(0, 0, 0, 0.2);
}

.card {
    float: left;
    padding: 0 1.7rem;
  }

  .card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .card .menu-content::before, .card .menu-content::after {
    content: '';
    display: table;
  }
  .card .menu-content::after {
    clear: both;
  }
  .card .menu-content li {
    display: inline-block;
  }
  .card .menu-content a {
    color: #fff;
  }
  .card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: 'Open Sans';
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .card .wrapper {
    background-color: #fff;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
  }
  .card .wrapper:hover .data {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .card .data {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(calc(90px + 1em));
            transform: translateY(calc(90px + 1em));
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .card .data .content {
    padding: 1em;
    position: relative;
    z-index: 2;
  }
  .card .author {
    font-size: 12px;
  }
  .card .text {
    color: white;
    height: 120px;
    margin: 0;
    line-height: 15px;
  }
  
  .card .author a{
    color: white;
  }

  @media (min-width: 470px) and (max-width: 768px) {
      .card .text{
        height: 90px;
      }
  }

  .card input[type='checkbox'] {
    display: none;
  }
  .card input[type='checkbox']:checked + .menu-content {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }

  .full-card{
      margin-top: 20px;
  }
  .full-card .wrapper:hover .menu-content span {
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px);
    opacity: 1;
  }
  .full-card .header {
    z-index: 2;/* put it in front of background */
    color: #000;
    padding: 1em;
  }
  .full-card .data{
    z-index: 2;/* put it in front of background */
  }
  .full-card .header::before, .full-card .header::after {
    content: '';
    display: table;
  }
  .full-card .header::after {
    clear: both;
  }
  .full-card .header .date {
    float: left;
    font-size: 12px;
  }
  .full-card .menu-content {
    float: right;
  }
  .full-card .menu-content li {
    margin: 0 5px;
    position: relative;
  }
  .full-card .menu-content span {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
  }
  
  .full-card .title a {
    color: #fff;
  }
  .full-card .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: #fff;
    line-height: 1;
    position: relative;
    font-weight: 700;
  }
  .full-card .button::after {
    content: '\2192';
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .full-card .button:hover::after {
    -webkit-transform: translate(5px, -50%);
            transform: translate(5px, -50%);
    opacity: 1;
  }
  